p {
  font-family: 'helvetica neue', helvetica, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  padding: 3px 10px;
  display: inline-block;
  border: 2px solid purple;
  border-radius: 10px;
  background: pink;
  color: blue;
}
